.uni-centering-container {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
}

.uni-centering-container_column {
    flex-direction: column;
}

.error-text {
    color: red;
    font-size: 18px;    
}